{% extends "../layouts/base.html" %}

{% block title %}
    Listaod de Libros
{% endblock  %}

{% block content %}
<div>
    <h1 class="text-center">Listado de Libros</h1>
    <a href="{% url 'index' %}" class="btn btn-warning mb-2">Atras</a>
    <table class="table table-bordered border-warning">
        <thead>
            <tr>
                <th>#</th>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Fecha Publicación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in libros %}
            <tr>
                <td>{{ libro.id_libro }}</td>
                <td>{{ libro.titulo }}</td>
                <td>{{ libro.autor }}</td>
                <td>{{ libro.fecha_publicacion }}</td>
                <td>
                    <a href="{% url 'editar' libro.id_libro %}" class="btn btn-warning">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock  %}